.container {
  width: 61px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
  background-color: #f9f9f9;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* .node:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15), -6px -6px 12px rgba(255, 255, 255, 0.9);
    transform: translateY(-4px);
  } */

.image-container {
  max-width: 100%;
  /* Ensure the image can scale with the node size */
  max-height: 100%;
  /* Ensure the image scales to fit within the node */
  object-fit: contain;
}

.node-label {
  position: absolute;
  width: 61px;
  font-size: 12px;
  color: #333;
  text-align: center;
  margin-top: 10px;
}

/*Css for start Node*/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite; /* 2s for one rotation, linear for uniform speed */
}
